---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Privacy Policy | DoneOps" description="DoneOps Privacy Policy">
  <Header slot="header" isSubPage={true} />

  <section class="container mx-auto my-20 py-24 bg-gray-200 rounded-lg text-center">
    <h3 class="text-5xl font-semibold">Privacy Policy</h3>
  </section>

  <Footer slot="footer" />
</BaseLayout>
